<div class="container">
<%= link_to  "Back", albums_path %>
  <%= simple_form_for @album do |f| %>
    <%= f.input :artist, collection: @artists %>
    <%= f.input :album_name %>
    <%= f.input :year %>
    <%= f.submit "Create album", class: 'btn-form' %>
  <% end %>
</div>